<%= simple_form_for([:noticias,@local_news], :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :emision %>
    <%= f.input :user_id %>
  </div>
  <div class="row">
   <% @notes.each do |n| %>
   <div class="span4">
   	<h3><%= n.titulo %><div class="num"></div></h3>
   	<p><%= hidden_field_tag "local_news[notes_message][note_id][]",n.id%>
   	<p><%= hidden_field_tag "local_news[notes_message][priority][]","0",class: "prioridad"%></p>	
   	<p><%= n.source.name if n.source_id %></p>
   	<p><%= n.avance.truncate(200)%></p>
      <div class="atr">
      <%= content_tag :a,:class => 'btn btn-primary menos' do %>
        <i class="icon-minus icon-2x"></i>
      <% end %>
    </div>
    <div class="adt"> 
      <%= content_tag :a, :class => 'btn btn-primary mas' do %>
       <i class="icon-plus icon-2x"></i>
        <% end %>
    </div>

  </div>
   <% end %>
</div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %>