<h1>Noticiero Local <%= @local_news.id %></h1>
<table class="table table-bordered table-striped">
 
  <tbody>
    <tr>
    <th>Emision</th>
    <td><%= @local_news.emision if @local_news.emision %></td>
    </tr>
    <th>Fecha</th>
    <td><%= @local_news.fecha if @local_news.fecha %></td>
    </tr>
    <th>Conductor</th>
    <td><%= @local_news.user.name if @local_news.user_id %></td>
    </tr>
    <th>Plaza</th>
    <td><%=   @local_news.plaza.name if @local_news.plaza_id %></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Prioridad</th>
      <th>Titulo</th>
      
    </tr>
  </thead>

  <tbody>
<% @local_news.notes_messages.prioridad.each do |n| %>
    <tr>
      <% if n.note %>
      <td><%= n.note_id %></td>
      <td><%= n.priority %></td>
      <td><%= n.note.titulo %></td>
      <% else %>
      <td><%= n.message_id %></td>
      <td>*</td>
      <td><%= n.message.title %></td>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>
