<h3>Sistema de Noticias </h3>
<table  id="dinamica" class="table table-condensed responsive">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Fecha Registro</th>
      <th>Rol</th>
      <th>Plaza</th>
      <th>Modulo</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name if user.name %>
      <td><%= user.email %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
      <td><%= user.plaza.name if user.plaza %>
      <td><%= user.roles.first.modulo unless user.roles.first.nil? %></td>
      <td>
        <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
        <%= render user %>
      <%= link_to("Eliminar", noticias_user_path(user), :data => { :confirm => "¿Estas seguro?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %>
      <%= link_to("Editar", edit_noticias_user_path(user), class: "btn btn-mini") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
